* {
    border: none;
    border-radius: 0;
    font-family: "JetBrains Mono Nerd Font", monospace;
    font-weight: 500;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: #121315;
    color: #adadcc;
    transition-property: background-color;
    transition-duration: 0.5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/* Workspaces */
#workspaces {
    margin: 0 4px;
}

#workspaces button {
    padding: 0 10px;
    background: transparent;
    color: #666a82;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

#workspaces button:hover {
    background: #6F6F83;
    color: #adadcc;
}

#workspaces button.active {
    color: #adadcc;
    background: #6C6B9B;
    border-bottom: 2px solid #a8a6f5;
}

#workspaces button.urgent {
    background-color: #ba5f60;
    color: #adadcc;
}

/* Window title */
#window {
    margin: 0 4px;
    padding: 0 10px;
    color: #adadcc;
}

/* Common module styling */
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray {
    padding: 4px 12px;
    margin: 2px 4px;
    color: #adadcc;
    border-radius: 4px;
}

/* Clock */
#clock {
    background: #6172A0;
    color: #adadcc;
    font-weight: bold;
}

/* Battery */
#battery {
    background: #647977;
    color: #adadcc;
}

#battery.charging {
    background: #9bbdb8;
    color: #121315;
}

#battery.warning:not(.charging) {
    background: #d2af98;
    color: #121315;
}

#battery.critical:not(.charging) {
    background: #ba5f60;
    color: #adadcc;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #ad82a2;
    }
}

/* Network */
#network {
    background: #436285;
    color: #adadcc;
}

#network.disconnected {
    background: #ba5f60;
    color: #adadcc;
}

/* Audio */
#pulseaudio {
    background: #6C6B9B;
    color: #adadcc;
}

#pulseaudio.muted {
    background: #666a82;
    color: #adadcc;
}

/* CPU */
#cpu {
    background: #c4959c;
    color: #121315;
}

/* Memory */
#memory {
    background: #ad82a2;
    color: #121315;
}

/* Temperature */
#temperature {
    background: #d2af98;
    color: #121315;
}

#temperature.critical {
    background: #ba5f60;
    color: #adadcc;
}

/* Backlight */
#backlight {
    background: #95b1fc;
    color: #121315;
}

/* Tray */
#tray {
    background: #6F6F83;
    color: #adadcc;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #ba5f60;
}
